{% extends 'layout/base.html' %}

{% block title %}Editar Categoría - Wizarding Academy Hub{% endblock %}

{% block content %}
<div class="form-card">
    <h2>Editar Categoría</h2>
    <form action="{{ url_for('edit_categoria', id_categoria=categoria['id_categoria']) }}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre de la Categoría:</label>
            <input type="text" id="nombre" name="nombre" value="{{ categoria['nombre'] }}" required autofocus>
        </div>
        <div class="button-group">
            <button type="submit" class="btn">Actualizar</button>
            <a href="{{ url_for('categorias') }}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}